:root {
    --library-icon-size: 64px;
    --library-node-name: 24px
}

.lt-operations-panel{
    display: flex;
    gap: 8px;
    border-bottom: solid var(--border-color) var(--border-thickness);
    min-height: 32px;
    padding: var(--padding);
    justify-content: center;
    align-items: center;
}

.lt-tree-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    padding: 12px;
    align-items: stretch;
}

.lt-node-block {
    display: flex;
    gap: 4px;
    align-items: center;
    color: var(--text-color);
    border-radius: var(--radius);
}

.lt-node-block:hover {
    background-color: var(--hover);
}

.lt-node-name {
    padding: 0;
    margin: 0;
}

.lt-modal-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 48px;
}

.lt-project-name-input {
    width: 50%;

}

.selected {
    background-color: var(--hover);
}

/*MIDDLE PANE*/

.lt-middle-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.lt-middle-top {
    flex: 1;
    display: flex;
}

.lt-top-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-block {
    width: 70%;
    height: 80%;
    border-radius: var(--radius);
    border: dashed 1px;
}

.lt-top-right{
    width: 65%;
}

.lt-middle-bottom {
    flex: 1;
    display: flex;
}

.lt-bottom-left{
    flex: 1;
}

.lt-bottom-right{
    flex: 1;
}