:root {
    --border-color: #656565 solid 0.1px;
    --border-radius: 12px;
    --thread: #656565 solid 0.5px;
    --left-min-w: 256px;
    --right-min-w: 300px;
    --tool-bar-min-w: 40px;
    --padding-min: 8px;
    --padding-max: 24px;
    --base-color: #D9D9D9;
    --header-height: 36px;
    --library-icon: 150px;
    --library-font-size: 18px;
    --button-w: 150px;
    --button-h: 30px;
    --button-radius: 8px;
    --selected: #6565652f;
    --selected-radius: 4px;
    --error: #EF2d56;
    --error-font-size: 12px;
    --cell-hover: #65656516;

}




#welcome {
    display:flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    border: rgb(0, 0, 0) solid;
    border-radius: 10px;
    font-family: "SN Pro", sans-serif;
} 

.startup {
    /* border: solid red 1px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex: 1;  /* This will make the startup contianer take up all the remaining space of the parent */
    min-height: 0;  /*<- This will override the default min-height: auto; of the flex:1; 
                    min-height:auto; means that the contaier will never go below the content size*/
}

#logo {
    flex: 1;
    display: flex;
    min-height: 0; 
    align-items:center;
    justify-content: center;
    overflow:hidden; /* This property will make sure the content does't go outside of the boundries */
}

#logo img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

#start-r-side{
    flex: 2;  
    display:flex;
    flex-direction: column;
    /* border: red solid; */
}

#rabbit-pad {
    font-size: 42px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 10px
}


#library-operations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:space-between;
    height: 200px;
    margin-right: 25px;
}

.msg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg {
    margin:0;
    text-align:left;
}

.start-btn {
    width: var(--button-w);
    height: var(--button-h);
    padding:0;
    margin:0;
    background-color:var(--base-color);
    border-radius: var(--button-radius);
    border-style:none;
    
}

.lib-name-startup-input {
    border: none;
    background-color:var(--base-color);
    border-radius: 4px;
    height: 28px;
    width: 150px;
    text-align:center;

}

hr {
    border: none;
    height: 2px;
    background-color: #33333322;
    width: 100%;
}

.path {
    color: #656565;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align:left;
    width: 200px; /* Set the maximun limit*/
    white-space: nowrap; /* White Space seems to control if a text should wrap, 
                         or move to another line when hiting the limit, nowrap makes it to not do that until a line break tag is */
    overflow: hidden;
    text-overflow: ellipsis; /*Add the ...  at the place where text is hiting its boundries and overflowing*/

}


/*===================== library =====================*/

#system-message {
    position: absolute;
    min-width: 300px;
    padding: 6px;
    background-color: var(--error);
    border: var(--border-color);
    z-index: 20;
    top: 90%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: var(--border-radius)
}

.system-message-text{
    font-size: var(--error-font-size);
    margin: 0;
    padding: 0;
}
/*===================== library =====================*/

#library-container{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
}

#library-body {
    flex: 1;
    width: 100%;
}

#library-header{
    height: var(--header-height);
    width:100%;
    border-bottom: var(--border-color);
    font-size: 24px;
}

#library-tree-container {
    display: flex;
    flex-wrap:wrap;
}

#new-project-block{
    display:flex;
    flex-direction: column;
}

.new-project-btn{
    font-size: var(--library-icon);
}

.new-project-text {
    margin:0;
    padding:0;
    font-size: var(--library-font-size);
}

#library-node{
    display:flex;
    flex-direction: column;
}

#library-node .material-symbols-outlined {
    font-size: var(--library-icon);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.lib-project-name {
    margin:0;
    padding:0;
    font-size: var(--library-font-size);
}


/*===================== new Project btn =====================*/

.add-project-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--base-color);
    border: var(--border-color);
    height: 40vh;
    width: 64vh;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius)
}

#add-project-header{
    display: flex;
    justify-content: end;
    border-bottom: var(--border-color);;
}

#lib-new-proj-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-bottom: 16px;
}

#new-proj-input {
    width: 75%;
    height: var(--header-height);
    border-radius: var(--border-radius);
    border: none;
    text-align: center;
}

#create-proj-btn{
    width: var(--button-w);
    height: var(--button-h);
    border-radius: var(--button-radius);
    border-style:none;
    padding:0;
    margin:0;
}

.project-input-warning-container{
    height: 16px;
}

.project-input-warning{
    font-size: var(--error-font-size);
    margin: 0;
    padding: 0;
    color: var(--error);
}

.not-allowed{
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--error);
}

/*===================== project =====================*/

#main-project-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height:100vh;
    overflow: hidden
    
}

#project-body {
    display:flex;
    justify-content: space-between;
    height: 100%;
    min-height: 0;
    width: 100%;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom:var(--border-color);
    padding: 0 var(--padding-min);
}



/*===================== Left Side Project View =====================*/

.left-header-btn {
    display: flex;
    justify-content: center;
    border-bottom: var(--border-color);
}

.container-left{
    display:flex;
    flex-direction: row-reverse;
    border-right:var(--border-color);
    min-width: var(--left-min-w);

}

#file-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-title{
    margin: 0;
    border-bottom: var(--border-color);
}

.left-tool-bar{
    padding-top: var(--padding-min);
    border-right:var(--border-color);
    min-width: var(--tool-bar-min-w)
}
.project-container{
    display: flex;
    flex-direction: column;
    flex: 1
}
#project-nodes-container{
    flex: 1;
    padding: var(--padding-min);
}
.node-name{
    margin: 0;
    width: 156px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invalid-name{
    border: none;
    background-color: var(--error);
    border-radius: var(--selected-radius);
}


.cell-icon {
    font-size: 18px;
}

.node-cell {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2px;
    text-align: left;
    padding: 2px;
}

.node-cell:hover {
    background-color: var(--cell-hover);
    border-radius: var(--selected-radius);
}

.child-block {
    margin-left: 10px;
    padding-left: var(--padding-min);
    border-left: var(--thread);
}


.tree-cell-selected {
    background-color: var(--selected);
    border-radius: var(--selected-radius);
}


#left-footer{
    display: flex;
    gap: var(--padding-min);
    border-top: var(--border-color);
    height: 38px;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-min);
}

#footer-name-block{
    border: var(--border-color);
    border-radius: 6px;
    padding: 2px 8px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.settings-icon{
  
}

#footer-name-block:hover{
    background-color: var(--cell-hover);
}

.fold-icon{
    font-size: 20px;
}

.project-name-element{
    margin: 0;
}


/*===================== Middle body project View =====================*/

#middle-area {
    display: flex;
    height: 100%;
    width: 100%;
}

#middle-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 0;
    width: 100%;
}

#editor-container {
    display: flex;
    height: 100%;
    min-height: 0;
    width: 100%
    
}

.cm-editor {
    color: #000000;
    height: 100%;
    width: 100%;

}

.cm-editor.cm-focused {
    outline: none;
    border: none;
}

.cm-editor .cm-scroller {
    overflow-y: auto;
    height: 100%;
}

.cm-editor .cm-content {
    font-family: 'SN Pro', sans-serif;
    overflow-wrap: anywhere;
    text-align: left;
    text-wrap: wrap;
    max-width: 600px;
    margin-left: 40px;
    padding-top: var(--padding-max);
    padding-bottom: var(--padding-max);
}



/*===================== Right Side Project View =====================*/

.container-right {
    border-left:var(--border-color);
    min-width: var(--right-min-w);
}