:root {
    --input-height: 32px; /*1px less because of the border thickness */
    --input-width: 128px;
    --input-padding: 0;
    --input-margin: 0;
    --border-radius: 4px;
    --input-color: #F5EDF0;
    --input-hover: #D1CCDC;
    --placeholder-color: rgb(0, 0, 0);
}

.user-input {
    width: var(--input-width);
    height: var(--input-height);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--input-color);
    padding: var(--input-padding);
    margin: var(--input-margin);
    text-align: center;
}

.user-input:hover {
    background-color: var(--input-hover);
}

.user-input::placeholder{
    color: var(--placeholder-color);
}

